<header class="header">
  <div class="logo">
    <a routerLink="/tabla">Parqueadero App</a>
  </div>
  <nav class="nav">
    <ul>
      <li><a routerLink="/tabla" routerLinkActive="active">Vehículos</a></li>
      <li><a routerLink="/entrada" routerLinkActive="active">Registrar Entrada</a></li>
      <li><a routerLink="/salida" routerLinkActive="active">Registrar Salida</a></li>
      <li><a routerLink="/total" routerLinkActive="active">Ver Total</a></li>
    </ul>
  </nav>
  <div class="user-info">
    <ng-container *ngIf="currentUser$ | async as user">
      <span class="user-name">Turno de: {{ user.nombre }}</span>
      <button (click)="logout()" class="logout-button">Cierre</button>
    </ng-container>
  </div>
</header>