<div class="container mt-4 mb-4 p-3">
  <h3 class="mb-3 text-center">Salida de Vehículo</h3>
  <div class="card shadow-sm">
    <div class="card-body mb-4 p-3">
      <!-- Barra de información superior -->
      <div class="mb-4 p-3 bg-light rounded">
        <div class="row text-center">
          <div class="col-4">
            <span class="fw-bold">Usuario</span><br />
            <h2 class="text-primary">{{ usuario?.nombre }}</h2>
          </div>
          <div class="col-4">
            <label class="form-label fw-bold">Hora de Salida</label>
            <div
              id="relojSalida"
              class="p-2 border rounded text-center fw-bold reloj"
            >
              00:00:00
            </div>
          </div>
          <div class="col-4 align-items-center">
            <div
              *ngIf="ticketEncontrado && ticketEncontrado.totalPagar"
              class="card shadow-lg border-0 rounded-4 text-center p-2"
            >
              <h2 class="text-primary fw-bold mb-0">
                {{ ticketEncontrado.totalPagar | currency : '' : 'symbol' : '1.0-0' }}
              </h2>
              <small class="text-muted">Total</small>
            </div>
          </div>
        </div>
      </div>

      <!-- Formulario de Búsqueda -->
      <form [formGroup]="formularioBusqueda" (ngSubmit)="buscarTicket()">
        <div class="mb-3 text-center">
          <label for="codigo" class="form-label fw-bold"
            >Código de Ticket</label
          >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="codigo"
              formControlName="codigo"
              placeholder="Ingrese el código y presione Buscar"
            />
            <button type="submit" class="btn btn-outline-primary">
              <i class="bi bi-search"></i> Buscar
            </button>
          </div>
          <div
            *ngIf="
              formularioBusqueda.get('codigo')?.touched &&
              formularioBusqueda.get('codigo')?.hasError('required')
            "
            class="text-danger"
          >
            El código es obligatorio.
          </div>
        </div>
      </form>

      <!-- Detalles del Ticket Encontrado -->
      <div *ngIf="ticketEncontrado" class="card mt-4">
        <div class="card-header fw-bold text-center">
          Detalles del Ticket
        </div>
        <div class="card-body">
          <div class="row text-center">
            <div class="col-md-3">
              <p><strong>Placa:</strong> {{ ticketEncontrado.placa }}</p>
            </div>
            <div class="col-md-3">
              <p>
                <strong>Tipo:</strong> {{ ticketEncontrado.tipoVehiculo }}
              </p>
            </div>
            <div class="col-md-3">
              <p>
                <strong>Entrada:</strong>
                {{
                  ticketEncontrado.fechaHoraEntrada | date : "dd/MM/yyyy HH:mm"
                }}
              </p>
            </div>
            <div class="col-md-3">
              <p>
                <strong>Atendido por:</strong>
                {{ ticketEncontrado.usuarioRecibio }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button
            type="button"
            class="btn btn-success"
            (click)="registrarSalida()"
          >
            Registrar Salida
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
