<div class="container mt-4 mb-4 p-3">
  <h3 class="mb-3 text-center">Entrada de Vehículo</h3>
  <div class="card shadow-sm">
    <div class="card-body mb-4 p-3">
    <!-- Barra de información superior: Usuario y Hora -->
    <div class="mb-4 p-3 bg-light rounded">
      <div class="row text-center">
        <!-- Nombre del usuario -->
         <div class="col-2"></div>
        <div class="col-4">
          <span class="fw-bold">Usuario: </span>
          <h2 class="text-primary">{{ usuario?.nombre }}</h2>
        </div>

        <!-- Hora de entrada -->
        <div class="col-4 text-center">
          <label class="form-label fw-bold">Hora de Entrada</label>
            <div id="relojEntrada" class="p-2 border rounded text-center fw-bold reloj">
              00:00:00
            </div>
        </div>
      </div>
    </div>

    <!-- Formulario principal -->
    <form [formGroup]="formularioEntrada" (ngSubmit)="onSubmit()">

    <!-- Vehículo -->
    <div formGroupName="vehiculo" class="row">

      <!-- Tipo de vehículo -->
      <div class="mb-3 col-6">
        <label for="tipoVehiculo" class="form-label">Tipo de Vehículo</label>
        <select class="form-select" id="tipoVehiculo" formControlName="tipo">
          <option value="">Seleccione...</option>
          <option value="automovil">automovil</option>
          <option value="moto">Moto</option>
          <option value="turbo">turbo</option>
          <option value="camion">camion</option>

        </select>
        <div *ngIf="formularioEntrada.get('vehiculo.tipo')?.touched && formularioEntrada.get('vehiculo.tipo')?.hasError('required')" class="text-danger">
          El tipo de vehículo es obligatorio
        </div>
      </div>

      <!-- Placa -->
      <div class="mb-3 col-6">
        <label for="placa" class="form-label">Placa</label>
        <input type="text" class="form-control" id="placa" placeholder="Ej: ABC123" formControlName="placa">
        <div *ngIf="formularioEntrada.get('vehiculo.placa')?.touched && formularioEntrada.get('vehiculo.placa')?.hasError('required')" class="text-danger">
          La placa es obligatoria
        </div>
        <div *ngIf="formularioEntrada.get('vehiculo.placa')?.touched && formularioEntrada.get('vehiculo.placa')?.hasError('minlength')" class="text-danger">
          La placa debe tener al menos 5 caracteres
        </div>
      </div>

    </div>

      <!-- Botón -->
      <button type="submit" class="btn btn-primary w-100 mt-4">Registrar Ticket</button>
    </form>

    <!-- Línea divisoria -->
    <hr class="my-5">

    <!-- Formulario de Reimpresión -->
    <h3 class="mb-3 text-center">Reimprimir Ticket</h3>
    <form [formGroup]="formularioReimpresion" (ngSubmit)="reimprimirTicket()">

      <!-- Código -->
      <div class="mb-3">
        <label for="codigo" class="form-label">Código de Ticket</label>
        <input type="text" class="form-control" id="codigo" placeholder="Ingrese el código del ticket" formControlName="codigo">
        <div *ngIf="formularioReimpresion.get('codigo')?.touched && formularioReimpresion.get('codigo')?.hasError('required')" class="text-danger">
          El código es obligatorio
        </div>
      </div>

      <!-- Botón -->
      <button type="submit" class="btn btn-info w-100 mt-4">Reimprimir Ticket</button>
    </form>
    </div>
  </div>
</div>
