<div class="row">
  <!--Reportes-->
  <div>

<mat-accordion class="mx-5">
  <mat-expansion-panel [(expanded)]="filtrosAbiertos">
    <mat-expansion-panel-header>
      <mat-panel-title>Filtros de búsqueda</mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Fila 1 -->
    <div class="row my-3 mx-1">
      <div class="col">
        <input type="text" class="form-control" placeholder="Código" [(ngModel)]="filtros.codigo">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Placa" [(ngModel)]="filtros.placa">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Tipo" [(ngModel)]="filtros.tipo">
      </div>
      <div class="col">
        <select class="form-select" [(ngModel)]="filtros.pagado">
          <option [ngValue]="undefined">Todos</option>
          <option [ngValue]="true">Pagados</option>
          <option [ngValue]="false">No Pagados</option>
        </select>
      </div>
    </div>

    <!-- Fila 2 -->
    <div class="row mb-3 mx-1">
      <div class="col">
        <input type="text" class="form-control" placeholder="Usuario Recibió" [(ngModel)]="filtros.usuarioRecibio">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Usuario Entregó" [(ngModel)]="filtros.usuarioEntrego">
      </div>
      <div class="col">
        <input type="datetime-local" class="form-control" [(ngModel)]="filtros.fechaInicio">
      </div>
      <div class="col">
        <input type="datetime-local" class="form-control" [(ngModel)]="filtros.fechaFin">
      </div>
    </div>

    <!-- Acciones del panel -->
    <div class="d-flex gap-2 justify-content-end mb-2 mx-1">
      <button class="btn btn-outline-secondary" (click)="limpiarFiltros()">Limpiar</button>
      <button class="btn btn-primary" (click)="aplicarFiltros()">Buscar</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

</div>
<div class="container mt-4">
  <h3 class="mb-3 text-center">Registro de Vehículos</h3>
  <div class="table-responsive shadow-sm rounded">
    <table class="table table-hover align-middle border text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="border-end">Codigo</th>
          <th scope="col" class="border-end">Tipo Vehículo</th>
          <th scope="col" class="border-end">Placa</th>
          <th scope="col" class="border-end">Fecha Entrada</th>
          <th scope="col" class="border-end">Fecha Salida</th>
          <th scope="col" class="border-end">Estado</th>
          <th scope="col" class="border-end">Recibió</th>
          <th scope="col" class="border-end">Entregó</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td class="border-end">{{ ticket.codigoBarrasQR }}</td>
          <td class="border-end">{{ ticket.vehiculo.tipo }}</td>
          <td class="border-end">{{ ticket.vehiculo.placa }}</td>
          <td class="border-end">{{ ticket.fechaHoraEntrada | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td class="border-end">{{ ticket.fechaHoraSalida | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td class="border-end">
            <span class="badge" [ngClass]="{ 'bg-danger': ticket.pagado === false, 'bg-success': ticket.pagado === true }">{{ ticket.pagado ? 'pago' : 'Debe' }}</span>
          </td>
          <td class="border-end">{{ ticket.usuarioRecibio }}</td>
          <td class="border-end">{{ ticket.usuarioEntrego }}</td>
          <td>{{ ticket.pago?.total }}</td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      [length]="totalElementos"
      [pageSize]="size"
      [pageIndex]="index"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="cambiarPagina($event)">
    </mat-paginator>
  </div>
</div>
