<div class="container mt-4">
  <h3 class="mb-3">Registro de Vehículos</h3>
  <div class="table-responsive shadow-sm rounded">
    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Tipo Vehículo</th>
          <th scope="col">Placa</th>
          <th scope="col">Fecha Entrada</th>
          <th scope="col">Fecha Salida</th>
          <th scope="col">Estado</th>
          <th scope="col">Recibió</th>
          <th scope="col">Entregó</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td>{{ ticket.codigoBarrasQR }}</td>
          <td>{{ ticket.vehiculo.tipo }}</td>
          <td>{{ ticket.vehiculo.placa }}</td>
          <td>{{ ticket.fechaHoraEntrada }}</td>
          <td>{{ ticket.fechaHoraSalida }}</td>
          <td><span class="badge" [ngClass]="{ 'bg-danger': ticket.pagado === false, 'bg-success': ticket.pagado === true }">{{ ticket.pagado }}</span></td>
          <td>{{ ticket.usuarioRecibio }}</td>
          <td>{{ ticket.usuarioEntrego }}</td>
          <td>{{ ticket.pago?.total }}</td>
        </tr>
      </tbody>
    </table>
    <mat-paginator
      [length]="totalElementos"
      [pageSize]="size"
      [pageIndex]="index"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="cambiarPagina($event)">
    </mat-paginator>
  </div>
</div>
